.about {
    max-width: 950px;
    width: 100%;
    z-index: 1;
    
    &__text {
        justify-content: center;
        align-items: center;
        padding-right: 20px;
        width: 100%;
        color: white;
        

        p {
            text-align: center;
            padding: 20px;
        }

    }

    &__img {
        text-align: center;
        max-width: 1000px;
        width: 100%;
    }
}