.popup {
    padding: 20px;
    top: 23%;
    left: 37%;
    position: absolute;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    height: 200px;
    z-index: 1;
    position: fixed;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.13),
    0 0 0 1000px rgba(0, 0, 0, 0.678);
    justify-content: center;
    visibility: hidden;

    &--active {
        visibility: visible;
    }

    


    svg {
        background-color: rgb(39, 1, 255);
    }
        

    &__message {
        color: #fff;
        
        &__close {
            padding: 8px;
            border-top: 3px rgb(253, 253, 253) solid;
            border-bottom: 3px rgb(255, 248, 248) solid;
            border-radius: 4px;
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
        

        &__icons {
            display: flex;
            padding-top: 35px;
            justify-content: center;
            padding-bottom: 10px;
            border-bottom: 3px rgb(255, 255, 255) solid;
            &__calendar {
    
                &:hover {
                    transform: scale(1.1);
                }
                a {
                    padding-right: 20px;
                    padding-left: 20px;
                    font-size: 50px;

                    
                }

                p {
                    padding-right: 20px;
                    
                }
            }

            &__pontos {
                &:hover {
                    transform: scale(1.1);
                }
                a {
                    padding-right: 20px;
                    padding-left: 20px;
                    font-size: 50px;
                }
            }
        }

        

    }

    #section__localizacao {
        display: none;
    }
}